{% extends "index.html" %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <form action="" method="POST" class="w-50 m-auto border text-light">
        {% csrf_token %}
        <label for="">Kullanıcı Adı</label>
        <input type="text" name="username" value="{{username}}" required  id="" class="form-control">
        <label for="">Email</label>
        <input type="email" name="email" value="{{email}}" id="" required class="form-control">
        <label for="">Şifre</label>
        <input type="password" name="password1" required id="" class="form-control">
        <label for="">Şifre Onay</label>
        <input type="password" name="password2" required id="" class="form-control">
        <input type="submit" value="Kayıt Ol" class="btn btn-primary mt-5">
    </form>
</div>
{% endblock content %}
    